####################################
# ENV / SECRETS
####################################
.env
.env.*
*.key
*.pem

####################################
# DOCKER
####################################
docker-compose.override.yml
**/docker-data/
**/db-data/

####################################
# DATABASE DUMPS
####################################
*.sql
*.dump

####################################
# LOGS
####################################
logs/
*.log

####################################
# UPLOADS / ARCHIVES
####################################
uploads/
archives/

####################################
# GO BUILD
####################################
bin/
*.exe
*.out

####################################
# GO CACHE
####################################
go.sum
/pkg/
/tmp/

####################################
# NODE / WEB (pokud přidáš frontend build)
####################################
node_modules/
dist/

####################################
# OS / IDE
####################################
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
